{% extends "base.html" %}

{% block title %}BrundleFuzz{% endblock %}

{% block page_content %}
    <h2>Start page</h2>
    <p>Bacon ipsum dolor sit amet tri-tip shoulder tenderloin shankle. Bresaola tail pancetta ball tip doner meatloaf corned beef. Kevin pastrami tri-tip prosciutto ham hock pork belly bacon pork loin salami pork chop shank corned beef tenderloin meatball cow. Pork bresaola meatloaf tongue, landjaeger tail andouille strip steak tenderloin sausage chicken tri-tip. Pastrami tri-tip kielbasa sausage porchetta pig sirloin boudin rump meatball andouille chuck tenderloin biltong shank </p>
    <p>Local date and time: {{ moment(current_time).format('LLL') }}</p>
    <p>That was: {{ moment(current_time).fromNow(refresh = True) }}</p>
{% endblock %}

